.css-cyxlny-MuiPaper-root-MuiDialog-paper {
    position: relative;
    overflow-y: hidden !important;
}

.invisible-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
  }
  
  .invisible-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  .invisible-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  .invisible-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }