.appBar{
    height: 48px !important;

}
.css-ds7yzq{
    margin-bottom: 14px;
}
.css-tfxn7v-MuiPaper-root-MuiAppBar-root{
    padding-bottom: 0px !important;
    // color: #464FEB !important;
    background-color: #0078D4 !important;
}

@media (min-width: 600px) {
        .css-hyum1k-MuiToolbar-root {
            min-height: 48px;
        }
    }

    @media (min-width: 600px) {
        .css-1r9jet7 {
            min-height: 48px !important;
                }
    }

    .css-p55zm9-MuiButtonBase-root-MuiIconButton-root{
        margin-bottom: 1rem !important;
    }


    .css-1lcu556-MuiPaper-root-MuiAppBar-root{
        padding-bottom: 0px !important;
        // color: #464FEB !important;
        background-color: #0078D4 !important;
    }

    .logo-icon-top {
        width: 70%;
    height: 65%;
    }