.doc{
    /* border: 2px solid black; */
    width: 100%;
    height: 113px;
    background-color:white;
    margin-bottom: -25px;
}
.type{
    font-size: 1rem;
    margin-left: 5px;
    margin-top: 5px;
}
.up{
    display: flex;
    align-items: center;
    gap: 55px;
    margin-top: -20px;

}
.icon{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.cen{
    display: flex;
    justify-content: space-between;
}
.pin{
    color: blue;
    font-size: 0.8rem;

}
.down{
    display: flex;
    align-items: center;
    gap: 40px;
}
.input{
    padding: 8px;
    width: 400px;
}
.btn{
    padding: 8px;
    color: blue;
}

.c-box{
    background-color: blue;
}
.general{
    width: 100%;
    /* border: 2px solid black; */
    height: 200px;
    margin-top: 15px;
    background-color: white;


}
  .line {
    display: inline-block;
    width: 874px;
    border-top: 0.5px solid black;
    margin-left: 5px; 
    vertical-align: middle; 
  }
  .line2 {
    display: inline-block;
    width: 819px;
    border-top: 0.5px solid black;
    margin-left: 5px; 
    vertical-align: middle; 
  }

.fst{
    display: flex;
    align-items: center;
    gap: 10px;
}
.buton{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    gap: 10px;
}
.btn1{
    padding: 7px;
    border-radius: 5px;
}
.btn2{
    background-color: #4a4ae3;
    color: white;
    border-radius: 5px;

}
.d-name{
    display: flex;
    gap: 60px;
    margin-top: -15px;
}
.srch{
    width: 270px;
    padding: 8px;
}
.own{
    padding: 5px;
    width: 200px;
}
.date{
    display: flex;
    gap: 60px;
}
.equal{
    width: 100px;
    padding: 5px;
}
.dat{
    width: 9rem; 
    /* rem or % */
    padding: 5px;
} 